In [20]:
# @datasciencebytes

# describe non numeric columns in Pandas

import pandas as pd
import numpy as np

In [21]:
data = {
    'Numeric_1': np.random.rand(6),
    'Numeric_2': np.random.randint(1, 10, 6),
    'NonNumeric_1': ['A', 'C', 'C', 'D', 'C', 'F'], #
    'Numeric_3': np.random.randn(6),
    'Numeric_4': np.random.uniform(5, 15, 6),
    'NonNumeric_2': ['X', 'Y', 'Z', 'U', 'U', 'V'] #
}

df = pd.DataFrame(data)

In [23]:
df.describe(include='object').T

             count unique top freq
NonNumeric_1     6      4   C    3
NonNumeric_2     6      5   U    2